#panel
{
	flex-grow: 1; 
	flex-direction: column; 
	margin-left: 5px; 
	margin-right: 5px; 
	margin-top: 5px;
	margin-bottom: 5px;
}

#top
{
	flex-grow: 1;
	border-bottom-width: 1px; 
	flex-basis: 0; 
	border-top-width: 1px; 
	border-top-color: rgb(24, 24, 24); 
	border-bottom-color: rgb(24, 24, 24); 
	margin-top: 5px; 
	margin-bottom: 5px;
}

#bottom
{
	flex-grow: 0;
}

#settings-header
{
	-unity-font-style: bold;
}